In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
iris.columns[:-1]

NameError: name 'iris' is not defined

In [ ]:
iris = sns.load_dataset('iris')
tabs = []
for col in iris.columns[:-1]:
    temp = pd.crosstab(iris.species, iris[col])
    tabs.append(temp)

joined = pd.concat(tabs, axis=1)
joined

,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0,5.1,5.2,...,1.6,1.7,1.8,1.9,2.0,2.1,2.2,2.3,2.4,2.5
species,,,,,,,,,,,,,,,,,,,,,
setosa,1,3,1,4,2,5,4,8,8,3,...,0,0,0,0,0,0,0,0,0,0
versicolor,0,0,0,0,0,0,1,2,1,1,...,3,1,1,0,0,0,0,0,0,0
virginica,0,0,0,0,0,0,1,0,0,0,...,1,1,11,5,6,6,3,8,3,3

In [ ]:
tabs

[sepal_length  4.3  4.4  4.5  4.6  4.7  4.8  4.9  5.0  5.1  5.2  ...  6.8  6.9  \
 species                                                         ...
 setosa          1    3    1    4    2    5    4    8    8    3  ...    0    0
 versicolor      0    0    0    0    0    0    1    2    1    1  ...    1    1
 virginica       0    0    0    0    0    0    1    0    0    0  ...    2    3

 sepal_length  7.0  7.1  7.2  7.3  7.4  7.6  7.7  7.9
 species
 setosa          0    0    0    0    0    0    0    0
 versicolor      1    0    0    0    0    0    0    0
 virginica       0    1    3    1    1    1    4    1

 [3 rows x 35 columns],
 sepal_width  2.0  2.2  2.3  2.4  2.5  2.6  2.7  2.8  2.9  3.0  ...  3.4  3.5  \
 species                                                        ...
 setosa         0    0    1    0    0    0    0    0    1    6  ...    9    6
 versicolor     1    2    3    3    4    3    5    6    7    8  ...    1    0
 virginica      0    1    0    0    4    2    4    8    2   12  ...    2    0

 sepal_width  3.6  3.7  3.8  3.9  4.0  4.1  4.2  4.4
 species
 setosa         3    3    4    2    1    1    1    1
 versicolor     0    0    0    0    0    0    0    0
 virginica      1    0    2    0    0    0    0    0

 [3 rows x 23 columns],
 petal_length  1.0  1.1  1.2  1.3  1.4  1.5  1.6  1.7  1.9  3.0  ...  5.7  5.8  \
 species                                                         ...
 setosa          1    1    2    7   13   13    7    4    2    0  ...    0    0
 versicolor      0    0    0    0    0    0    0    0    0    1  ...    0    0
 virginica       0    0    0    0    0    0    0    0    0    0  ...    3    3

 petal_length  5.9  6.0  6.1  6.3  6.4  6.6  6.7  6.9
 species
 setosa          0    0    0    0    0    0    0    0
 versicolor      0    0    0    0    0    0    0    0
 virginica       2    2    3    1    1    1    2    1

 [3 rows x 43 columns],
 petal_width  0.1  0.2  0.3  0.4  0.5  0.6  1.0  1.1  1.2  1.3  ...  1.6  1.7  \
 species                                                        ...
 setosa         5   29    7    7    1    1    0    0    0    0  ...    0    0
 versicolor     0    0    0    0    0    0    7    3    5   13  ...    3    1
 virginica      0    0    0    0    0    0    0    0    0    0  ...    1    1

 petal_width  1.8  1.9  2.0  2.1  2.2  2.3  2.4  2.5
 species
 setosa         0    0    0    0    0    0    0    0
 versicolor     1    0    0    0    0    0    0    0
 virginica     11    5    6    6    3    8    3    3

 [3 rows x 22 columns]]

In [ ]:
from seaborn import load_dataset
iris=sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
iris = sns.load_dataset('iris') # fancy색인은 copy가 일어나서 오류발생 아래 처럼 바꿔서 가공 필요
for i, sp in enumerate(iris.species.unique()):
    iris.species[iris.species == sp] = i
iris

<ipython-input-314-843647b3fe37>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris.species[iris.species == sp] = i

     sepal_length  sepal_width  petal_length  petal_width species
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [ ]:
mapper = {v:i for i, v in enumerate(iris.species.unique())} #map함수를 이용해서 모두 바꿔줌
iris.species = iris.species.map(mapper)
iris

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [ ]:
iris.species.unique()[1]

1

In [ ]:
iris[iris.species == iris.species.unique()[1]]['species'].values = np.array([1]*50)

AttributeError: can't set attribute

In [ ]:
for i in range(3):
    if iris[iris.species == iris.species.unique()[i]]:
        iris[iris.species == iris.species.unique()[i]]['species'] = i

In [ ]:
a=pd.Series(np.array(np.arange(150))).to_frame()

In [ ]:
pd.concat([iris,a], axis=1)
iris

     sepal_length  sepal_width  petal_length  petal_width    species   df
0             5.1          3.5           1.4          0.2     setosa    0
1             4.9          3.0           1.4          0.2     setosa    1
2             4.7          3.2           1.3          0.2     setosa    2
3             4.6          3.1           1.5          0.2     setosa    3
4             5.0          3.6           1.4          0.2     setosa    4
..            ...          ...           ...          ...        ...  ...
145           6.7          3.0           5.2          2.3  virginica  145
146           6.3          2.5           5.0          1.9  virginica  146
147           6.5          3.0           5.2          2.0  virginica  147
148           6.2          3.4           5.4          2.3  virginica  148
149           5.9          3.0           5.1          1.8  virginica  149

[150 rows x 6 columns]

In [ ]:
b = iris.iloc[:10,:]
b.rename(columns={'sepal_width' : 'dfs'}, inplace=True)
b

C:\Users\ICT01_02\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   sepal_length  dfs  petal_length  petal_width species  df
0           5.1  3.5           1.4          0.2  setosa   0
1           4.9  3.0           1.4          0.2  setosa   1
2           4.7  3.2           1.3          0.2  setosa   2
3           4.6  3.1           1.5          0.2  setosa   3
4           5.0  3.6           1.4          0.2  setosa   4
5           5.4  3.9           1.7          0.4  setosa   5
6           4.6  3.4           1.4          0.3  setosa   6
7           5.0  3.4           1.5          0.2  setosa   7
8           4.4  2.9           1.4          0.2  setosa   8
9           4.9  3.1           1.5          0.1  setosa   9

In [ ]:
a =pd.merge(iris,b, left_on='sepal_width', right_on='dfs')
a

,sepal_length_x,sepal_width_x,petal_length_x,petal_width_x,species_x,df_x,sepal_length_y,sepal_width_y,petal_length_y,petal_width_y,species_y,df_y,dfs
0,5.1,3.5,1.4,0.2,setosa,0,5.1,3.5,1.4,0.2,setosa,0,3.5
1,5.1,3.5,1.4,0.3,setosa,17,5.1,3.5,1.4,0.2,setosa,0,3.5
2,5.2,3.5,1.5,0.2,setosa,27,5.1,3.5,1.4,0.2,setosa,0,3.5
3,5.5,3.5,1.3,0.2,setosa,36,5.1,3.5,1.4,0.2,setosa,0,3.5
4,5.0,3.5,1.3,0.3,setosa,40,5.1,3.5,1.4,0.2,setosa,0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,6.0,2.9,4.5,1.5,versicolor,78,4.4,2.9,1.4,0.2,setosa,8,2.9
103,5.7,2.9,4.2,1.3,versicolor,96,4.4,2.9,1.4,0.2,setosa,8,2.9
104,6.2,2.9,4.3,1.3,versicolor,97,4.4,2.9,1.4,0.2,setosa,8,2.9
105,6.3,2.9,5.6,1.8,virginica,103,4.4,2.9,1.4,0.2,setosa,8,2.9
106,7.3,2.9,6.3,1.8,virginica,107,4.4,2.9,1.4,0.2,setosa,8,2.9

In [ ]:

mapper = {v:i for i, v in enumerate(iris.species.unique())}
iris['s'] = iris.species.map(mapper)
iris

     sepal_length  sepal_width  petal_length  petal_width     species  s
0             5.1          3.5           1.4          0.2  virgicolor  0
1             4.9          3.0           1.4          0.2  virgicolor  0
2             4.7          3.2           1.3          0.2  virgicolor  0
3             4.6          3.1           1.5          0.2  virgicolor  0
4             5.0          3.6           1.4          0.2  virgicolor  0
..            ...          ...           ...          ...         ... ..
145           6.7          3.0           5.2          2.3  virgicolor  0
146           6.3          2.5           5.0          1.9  virgicolor  0
147           6.5          3.0           5.2          2.0  virgicolor  0
148           6.2          3.4           5.4          2.3  virgicolor  0
149           5.9          3.0           5.1          1.8  virgicolor  0

[150 rows x 6 columns]

In [ ]:
iris

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2  virgicolor
1             4.9          3.0           1.4          0.2  virgicolor
2             4.7          3.2           1.3          0.2  virgicolor
3             4.6          3.1           1.5          0.2  virgicolor
4             5.0          3.6           1.4          0.2  virgicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3  virgicolor
146           6.3          2.5           5.0          1.9  virgicolor
147           6.5          3.0           5.2          2.0  virgicolor
148           6.2          3.4           5.4          2.3  virgicolor
149           5.9          3.0           5.1          1.8  virgicolor

[150 rows x 5 columns]

In [ ]:
sname = ['setosa', 'verginica', 'vercicolor']
iris.species.map(lambda x: sname[x])

0          setosa
1          setosa
2          setosa
3          setosa
4          setosa
          ...
145    vercicolor
146    vercicolor
147    vercicolor
148    vercicolor
149    vercicolor
Name: species, Length: 150, dtype: object

In [ ]:
a=np.where(iris.species == 0,'setosa', np.NaN)
b=np.where(iris.species == 1,'verginica', np.NaN)
c=np.where(iris.species == 2,'vergicolor', np.NaN)
d=pd.Series(a).to_frame()
e=pd.Series(b).to_frame()
f=pd.Series(c).to_frame()

y=pd.concat([d,e], axis=1,ignore_index=True)
u=pd.concat([y,f], axis=1,ignore_index=True)
u

          0    1           2
0    setosa  nan         nan
1    setosa  nan         nan
2    setosa  nan         nan
3    setosa  nan         nan
4    setosa  nan         nan
..      ...  ...         ...
145     nan  nan  vergicolor
146     nan  nan  vergicolor
147     nan  nan  vergicolor
148     nan  nan  vergicolor
149     nan  nan  vergicolor

[150 rows x 3 columns]

In [ ]:
u

          0    1           2
0    setosa  nan         nan
1    setosa  nan         nan
2    setosa  nan         nan
3    setosa  nan         nan
4    setosa  nan         nan
..      ...  ...         ...
145     NaN  nan  vergicolor
146     NaN  nan  vergicolor
147     NaN  nan  vergicolor
148     NaN  nan  vergicolor
149     NaN  nan  vergicolor

[150 rows x 3 columns]

In [ ]:
u.reset_index()

     index       0    1           2
0        0  setosa  nan         nan
1        1  setosa  nan         nan
2        2  setosa  nan         nan
3        3  setosa  nan         nan
4        4  setosa  nan         nan
..     ...     ...  ...         ...
145    145     NaN  nan  vergicolor
146    146     NaN  nan  vergicolor
147    147     NaN  nan  vergicolor
148    148     NaN  nan  vergicolor
149    149     NaN  nan  vergicolor

[150 rows x 4 columns]

In [ ]:
pd.concat([u,u], axis=1)

          0    1           2       0    1           2
0    setosa  nan         nan  setosa  nan         nan
1    setosa  nan         nan  setosa  nan         nan
2    setosa  nan         nan  setosa  nan         nan
3    setosa  nan         nan  setosa  nan         nan
4    setosa  nan         nan  setosa  nan         nan
..      ...  ...         ...     ...  ...         ...
145     NaN  nan  vergicolor     NaN  nan  vergicolor
146     NaN  nan  vergicolor     NaN  nan  vergicolor
147     NaN  nan  vergicolor     NaN  nan  vergicolor
148     NaN  nan  vergicolor     NaN  nan  vergicolor
149     NaN  nan  vergicolor     NaN  nan  vergicolor

[150 rows x 6 columns]

In [ ]:
u.index

RangeIndex(start=0, stop=150, step=1)

In [ ]:
a =pd.merge(u,u,how='inner',right_index=True, left_index=True)
a

        0_x  1_x         2_x     0_y  1_y         2_y
0    setosa  nan         nan  setosa  nan         nan
1    setosa  nan         nan  setosa  nan         nan
2    setosa  nan         nan  setosa  nan         nan
3    setosa  nan         nan  setosa  nan         nan
4    setosa  nan         nan  setosa  nan         nan
..      ...  ...         ...     ...  ...         ...
145     NaN  nan  vergicolor     NaN  nan  vergicolor
146     NaN  nan  vergicolor     NaN  nan  vergicolor
147     NaN  nan  vergicolor     NaN  nan  vergicolor
148     NaN  nan  vergicolor     NaN  nan  vergicolor
149     NaN  nan  vergicolor     NaN  nan  vergicolor

[150 rows x 6 columns]

In [ ]:
b =pd.merge(u,u,how='outer',right_index=True, left_index=True)
b

        0_x  1_x         2_x     0_y  1_y         2_y
0    setosa  nan         nan  setosa  nan         nan
1    setosa  nan         nan  setosa  nan         nan
2    setosa  nan         nan  setosa  nan         nan
3    setosa  nan         nan  setosa  nan         nan
4    setosa  nan         nan  setosa  nan         nan
..      ...  ...         ...     ...  ...         ...
145     NaN  nan  vergicolor     NaN  nan  vergicolor
146     NaN  nan  vergicolor     NaN  nan  vergicolor
147     NaN  nan  vergicolor     NaN  nan  vergicolor
148     NaN  nan  vergicolor     NaN  nan  vergicolor
149     NaN  nan  vergicolor     NaN  nan  vergicolor

[150 rows x 6 columns]

In [ ]:
missing = a[50]

In [ ]:
np.where(a != missing, a, np.where(b != missing, b, c))

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor'], dtype='<U32')

In [ ]:
print(u[0][51])

nan

In [ ]:
type(a)

numpy.ndarray

In [ ]:
np.NaN == np.NaN

False

In [ ]:
u[1][48:52]

48          nan
49          nan
50    verginica
51    verginica
Name: 1, dtype: object

In [ ]:
np.where(iris.species == 0, 'setosa', np.where(
    iris.species == 1, 'verginica', 'vergicolor'
))

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor'], dtype='<U10')

In [ ]:
d

          0
0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
..      ...
145     nan
146     nan
147     nan
148     nan
149     nan

[150 rows x 1 columns]

In [ ]:
df1=pd.DataFrame(a, columns=['df'])
df2=pd.DataFrame(b, columns=['df'])
df3=pd.DataFrame(c, columns=['df'])
a=df1+df2+df3

In [ ]:
a.df = a.apply(lambda x : x.replace('nannan',''))

In [ ]:
b=a.df.str.replace('nannan','')
b.to_frame()

             df
0        setosa
1        setosa
2        setosa
3        setosa
4        setosa
..          ...
145  vergicolor
146  vergicolor
147  vergicolor
148  vergicolor
149  vergicolor

[150 rows x 1 columns]

In [ ]:
iris

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2  virgicolor
1             4.9          3.0           1.4          0.2  virgicolor
2             4.7          3.2           1.3          0.2  virgicolor
3             4.6          3.1           1.5          0.2  virgicolor
4             5.0          3.6           1.4          0.2  virgicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3  virgicolor
146           6.3          2.5           5.0          1.9  virgicolor
147           6.5          3.0           5.2          2.0  virgicolor
148           6.2          3.4           5.4          2.3  virgicolor
149           5.9          3.0           5.1          1.8  virgicolor

[150 rows x 5 columns]

In [ ]:
iris = sns.load_dataset('iris')

In [ ]:
mapper = {v:i for i,v in enumerate(iris.species.unique())}
iris.species = iris.species.map(mapper)

In [ ]:
iris

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [ ]:
a =np.where(iris.species ==0 ,'setosa',np.where(iris.species == 1, 'virginica','virgicolor'))
a

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor'], dtype='<U10')

In [ ]:
iris['s'] = a

In [ ]:
iris

     sepal_length  sepal_width  petal_length  petal_width  species           s
0             5.1          3.5           1.4          0.2        0      setosa
1             4.9          3.0           1.4          0.2        0      setosa
2             4.7          3.2           1.3          0.2        0      setosa
3             4.6          3.1           1.5          0.2        0      setosa
4             5.0          3.6           1.4          0.2        0      setosa
..            ...          ...           ...          ...      ...         ...
145           6.7          3.0           5.2          2.3        2  virgicolor
146           6.3          2.5           5.0          1.9        2  virgicolor
147           6.5          3.0           5.2          2.0        2  virgicolor
148           6.2          3.4           5.4          2.3        2  virgicolor
149           5.9          3.0           5.1          1.8        2  virgicolor

[150 rows x 6 columns]

In [38]:
from sklearn.datasets import load_wine
data = load_wine()

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data.data, data.target, stratify=data.target
) # 분류 데이터는 train, test 데이터를 to categorical로 항상 변경

In [2]:
X_train.shape[1]

13

In [3]:
X_train

array([[1.221e+01, 1.190e+00, 1.750e+00, ..., 1.280e+00, 3.070e+00,
        7.180e+02],
       [1.305e+01, 3.860e+00, 2.320e+00, ..., 8.400e-01, 2.010e+00,
        5.150e+02],
       [1.305e+01, 5.800e+00, 2.130e+00, ..., 7.300e-01, 3.100e+00,
        3.800e+02],
       ...,
       [1.340e+01, 3.910e+00, 2.480e+00, ..., 7.000e-01, 1.560e+00,
        7.500e+02],
       [1.332e+01, 3.240e+00, 2.380e+00, ..., 5.500e-01, 1.620e+00,
        6.500e+02],
       [1.367e+01, 1.250e+00, 1.920e+00, ..., 1.230e+00, 2.460e+00,
        6.300e+02]])

In [21]:
from tensorflow.keras import Sequential
import tensorflow.keras.layers as lp
from tensorflow.keras import models
model = models.Sequential()
model.add(lp.Dense(10,input_dim=X_train.shape[1],activation='tanh'))

In [22]:
model.add(lp.Dense(7,activation='relu'))
model.add(lp.Dense(3, activation='softmax'))

In [23]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 10)                140

 dense_10 (Dense)            (None, 7)                 77

 dense_11 (Dense)            (None, 3)                 24

=================================================================
Total params: 241
Trainable params: 241
Non-trainable params: 0
_________________________________________________________________

In [31]:
import tensorflow.keras as op
optimizer = op.optimizers.SGD(learning_rate=0.3, momentum=0.9, nesterov=True)
model.compile(optimizer=optimizer, loss = 'categorical_crossentropy')

In [35]:
from tensorflow.keras.utils import to_categorical
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [26]:
data.DESCR

'.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 178 (50 in each of three classes)\n    :Number of Attributes: 13 numeric, predictive attributes and the class\n    :Attribute Information:\n \t\t- Alcohol\n \t\t- Malic acid\n \t\t- Ash\n\t\t- Alcalinity of ash  \n \t\t- Magnesium\n\t\t- Total phenols\n \t\t- Flavanoids\n \t\t- Nonflavanoid phenols\n \t\t- Proanthocyanins\n\t\t- Color intensity\n \t\t- Hue\n \t\t- OD280/OD315 of diluted wines\n \t\t- Proline\n\n    - class:\n            - class_0\n            - class_1\n            - class_2\n\t\t\n    :Summary Statistics:\n    \n    ============================= ==== ===== ======= =====\n                                   Min   Max   Mean     SD\n    ============================= ==== ===== ======= =====\n    Alcohol:                      11.0  14.8    13.0   0.8\n    Malic Acid:                   0.74  5.80    2.34  1.12\n    Ash:                          1.36  3.23    2.36  0.27\n    Alcalinity of Ash:            10.6  30.0    19.5   3.3\n    Magnesium:                    70.0 162.0    99.7  14.3\n    Total Phenols:                0.98  3.88    2.29  0.63\n    Flavanoids:                   0.34  5.08    2.03  1.00\n    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12\n    Proanthocyanins:              0.41  3.58    1.59  0.57\n    Colour Intensity:              1.3  13.0     5.1   2.3\n    Hue:                          0.48  1.71    0.96  0.23\n    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\n    Proline:                       278  1680     746   315\n    ============================= ==== ===== ======= =====\n\n    :Missing Attribute Values: None\n    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners: \n\nForina, M. et al, PARVUS - \nAn Extendible Package for Data Exploration, Classification and Correlation. \nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science. \n\n.. topic:: References\n\n  (1) S. Aeberhard, D. Coomans and O. de Vel, \n  Comparison of Classifiers in High Dimensional Settings, \n  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of  \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Technometrics). \n\n  The data was used with many others for comparing various \n  classifiers. The classes are separable, though only RDA \n  has achieved 100% correct classification. \n  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data)) \n  (All results using the leave-one-out technique) \n\n  (2) S. Aeberhard, D. Coomans and O. de Vel, \n  "THE CLASSIFICATION PERFORMANCE OF RDA" \n  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Journal of Chemometrics).\n'

In [27]:
X_train.dtype

dtype('float64')

In [28]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((133, 13), (45, 13), (133,), (45,))

In [36]:
history = model.fit(X_train, y_train, epochs=50, batch_size=10, validation_data=(X_test, y_test))

Epoch 1/50
14/14 [==============================] - 0s 12ms/step - loss: 1.1352 - val_loss: 1.1498
Epoch 2/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1242 - val_loss: 1.1179
Epoch 3/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1337 - val_loss: 1.0909
Epoch 4/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1395 - val_loss: 1.0993
Epoch 5/50
14/14 [==============================] - 0s 5ms/step - loss: 1.1207 - val_loss: 1.1108
Epoch 6/50
14/14 [==============================] - 0s 3ms/step - loss: 1.1310 - val_loss: 1.1534
Epoch 7/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1463 - val_loss: 1.1497
Epoch 8/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1595 - val_loss: 1.2179
Epoch 9/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1512 - val_loss: 1.1476
Epoch 10/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1063 - val_loss: 1.1820
Epoch 11/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1595 - val_loss: 1.1003
Epoch 12/50
14/14 [==============================] - 0s 3ms/step - loss: 1.1160 - val_loss: 1.1065
Epoch 13/50
14/14 [==============================] - 0s 3ms/step - loss: 1.1241 - val_loss: 1.1244
Epoch 14/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1305 - val_loss: 1.0954
Epoch 15/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1190 - val_loss: 1.1383
Epoch 16/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1047 - val_loss: 1.2291
Epoch 17/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1393 - val_loss: 1.1136
Epoch 18/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1270 - val_loss: 1.1317
Epoch 19/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1448 - val_loss: 1.1057
Epoch 20/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1487 - val_loss: 1.1205
Epoch 21/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1083 - val_loss: 1.1849
Epoch 22/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1722 - val_loss: 1.1098
Epoch 23/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1400 - val_loss: 1.1095
Epoch 24/50
14/14 [==============================] - 0s 3ms/step - loss: 1.1521 - val_loss: 1.0972
Epoch 25/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1190 - val_loss: 1.0980
Epoch 26/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1236 - val_loss: 1.0897
Epoch 27/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1283 - val_loss: 1.0965
Epoch 28/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1074 - val_loss: 1.1606
Epoch 29/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1491 - val_loss: 1.1365
Epoch 30/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1134 - val_loss: 1.0902
Epoch 31/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1147 - val_loss: 1.1039
Epoch 32/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1442 - val_loss: 1.0949
Epoch 33/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1214 - val_loss: 1.0930
Epoch 34/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1225 - val_loss: 1.0982
Epoch 35/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1254 - val_loss: 1.1047
Epoch 36/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1176 - val_loss: 1.0978
Epoch 37/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1140 - val_loss: 1.1061
Epoch 38/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1185 - val_loss: 1.1128
Epoch 39/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1246 - val_loss: 1.0977
Epoch 40/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1195 - val_loss: 1.1297
Epoch 41/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1341 - val_loss: 1.1163
Epoch 42/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1199 - val_loss: 1.1134
Epoch 43/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1272 - val_loss: 1.1022
Epoch 44/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1281 - val_loss: 1.0891
Epoch 45/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1209 - val_loss: 1.0918
Epoch 46/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1137 - val_loss: 1.0906
Epoch 47/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1183 - val_loss: 1.1552
Epoch 48/50
14/14 [==============================] - 0s 4ms/step - loss: 1.1434 - val_loss: 1.1012
Epoch 49/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1188 - val_loss: 1.0886
Epoch 50/50
14/14 [==============================] - 0s 2ms/step - loss: 1.1363 - val_loss: 1.1039

In [37]:
model.evaluate(X_test, y_test)

2/2 [==============================] - 0s 2ms/step - loss: 1.1039

1.1038947105407715

In [39]:
from sklearn.datasets import load_boston
data = load_boston()
data.target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data.data, data.target, 
)

In [41]:
from tensorflow.keras import models
from tensorflow.keras import Sequential
from tensorflow.keras import layers
model= models.Sequential()
model.add(layers.Dense(11, input_dim=X_train.shape[1], activation='relu'))

In [43]:
model.add(layers.Dense(5,activation='relu'))
model.add(layers.Dense(2, activation='softmax'))

In [44]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 11)                154

 dense_13 (Dense)            (None, 5)                 60

 dense_14 (Dense)            (None, 5)                 30

 dense_15 (Dense)            (None, 2)                 12

=================================================================
Total params: 256
Trainable params: 256
Non-trainable params: 0
_________________________________________________________________

In [46]:
model.compile('adam', 'mse', ['mae'])
model.fit(X_train, y_train, batch_size = 12, epochs=50, validation_data=(X_test, y_test))

Epoch 1/50
32/32 [==============================] - 0s 4ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 2/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 3/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 4/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 5/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 6/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 7/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 8/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 9/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 10/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 11/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 12/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 13/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 14/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4748 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 15/50
32/32 [==============================] - 0s 3ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 16/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 17/50
32/32 [==============================] - 0s 1ms/step - loss: 553.4746 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 18/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4749 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 19/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 20/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 21/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 22/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 23/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 24/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 25/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 26/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 27/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 28/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 29/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 30/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4748 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 31/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 32/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4748 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 33/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 34/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 35/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 36/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 37/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4748 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 38/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 39/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4748 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 40/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 41/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4748 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 42/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 43/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 44/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4745 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 45/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 46/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4748 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 47/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 48/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4746 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 49/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228
Epoch 50/50
32/32 [==============================] - 0s 2ms/step - loss: 553.4747 - mae: 21.7346 - val_loss: 619.7703 - val_mae: 22.9228

In [48]:
model.evaluate(X_test, y_test)

4/4 [==============================] - 0s 2ms/step - loss: 619.7703 - mae: 22.9228

[619.7703247070312, 22.922836303710938]