In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
import random
q1 = pd.DataFrame(np.random.randint(100, 1000, 60).reshape(10,6), columns = ['1월','2월','3월','4월','5월','6월'])
q2 = pd.DataFrame(np.random.randint(100, 1000, 36).reshape(6,6), columns = ['7월','8월','9월','10월','11월','12월'])
q2

    7월   8월   9월  10월  11월  12월
0  635  405  661  757  618  792
1  196  695  656  451  341  687
2  857  961  530  501  676  894
3  974  149  805  779  211  192
4  224  238  828  261  186  394
5  161  583  905  698  500  632