In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [87]:
import random
index=['매출','비용']
q1 = pd.DataFrame(np.random.randint(100, 1000, 12).reshape(2,6), index=index,columns = ['1월','2월','3월','4월','5월','6월'])
q2 = pd.DataFrame(np.random.randint(100, 1000, 12).reshape(2,6), index=index,columns = ['7월','8월','9월','10월','11월','12월'])
Q1=q1.T ; Q2=q2.T
Q1['이익'] = Q1.매출 - Q1.비용
Q2['이익'] = Q2.매출 - Q2.비용
con=pd.concat( [Q1,Q2], axis=0)
df=con.T
df['실적'] = df.sum(axis=1)
df.T.append({'매출': 10,'비용':20,'이익':30}, ignore_index=True)

      매출    비용   이익
0    401   755 -354
1    949   690  259
2    112   157  -45
3    710   777  -67
4    528   195  333
5    880   129  751
6    392   524 -132
7    114   696 -582
8    445   829 -384
9    186   696 -510
10   299   290    9
11   824   598  226
12  5840  6336 -496
13    10    20   30