In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
iris.columns[:-1]

NameError: name 'iris' is not defined

In [ ]:
iris = sns.load_dataset('iris')
tabs = []
for col in iris.columns[:-1]:
    temp = pd.crosstab(iris.species, iris[col])
    tabs.append(temp)

joined = pd.concat(tabs, axis=1)
joined

,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0,5.1,5.2,...,1.6,1.7,1.8,1.9,2.0,2.1,2.2,2.3,2.4,2.5
species,,,,,,,,,,,,,,,,,,,,,
setosa,1,3,1,4,2,5,4,8,8,3,...,0,0,0,0,0,0,0,0,0,0
versicolor,0,0,0,0,0,0,1,2,1,1,...,3,1,1,0,0,0,0,0,0,0
virginica,0,0,0,0,0,0,1,0,0,0,...,1,1,11,5,6,6,3,8,3,3

In [ ]:
tabs

[sepal_length  4.3  4.4  4.5  4.6  4.7  4.8  4.9  5.0  5.1  5.2  ...  6.8  6.9  \
 species                                                         ...
 setosa          1    3    1    4    2    5    4    8    8    3  ...    0    0
 versicolor      0    0    0    0    0    0    1    2    1    1  ...    1    1
 virginica       0    0    0    0    0    0    1    0    0    0  ...    2    3

 sepal_length  7.0  7.1  7.2  7.3  7.4  7.6  7.7  7.9
 species
 setosa          0    0    0    0    0    0    0    0
 versicolor      1    0    0    0    0    0    0    0
 virginica       0    1    3    1    1    1    4    1

 [3 rows x 35 columns],
 sepal_width  2.0  2.2  2.3  2.4  2.5  2.6  2.7  2.8  2.9  3.0  ...  3.4  3.5  \
 species                                                        ...
 setosa         0    0    1    0    0    0    0    0    1    6  ...    9    6
 versicolor     1    2    3    3    4    3    5    6    7    8  ...    1    0
 virginica      0    1    0    0    4    2    4    8    2   12  ...    2    0

 sepal_width  3.6  3.7  3.8  3.9  4.0  4.1  4.2  4.4
 species
 setosa         3    3    4    2    1    1    1    1
 versicolor     0    0    0    0    0    0    0    0
 virginica      1    0    2    0    0    0    0    0

 [3 rows x 23 columns],
 petal_length  1.0  1.1  1.2  1.3  1.4  1.5  1.6  1.7  1.9  3.0  ...  5.7  5.8  \
 species                                                         ...
 setosa          1    1    2    7   13   13    7    4    2    0  ...    0    0
 versicolor      0    0    0    0    0    0    0    0    0    1  ...    0    0
 virginica       0    0    0    0    0    0    0    0    0    0  ...    3    3

 petal_length  5.9  6.0  6.1  6.3  6.4  6.6  6.7  6.9
 species
 setosa          0    0    0    0    0    0    0    0
 versicolor      0    0    0    0    0    0    0    0
 virginica       2    2    3    1    1    1    2    1

 [3 rows x 43 columns],
 petal_width  0.1  0.2  0.3  0.4  0.5  0.6  1.0  1.1  1.2  1.3  ...  1.6  1.7  \
 species                                                        ...
 setosa         5   29    7    7    1    1    0    0    0    0  ...    0    0
 versicolor     0    0    0    0    0    0    7    3    5   13  ...    3    1
 virginica      0    0    0    0    0    0    0    0    0    0  ...    1    1

 petal_width  1.8  1.9  2.0  2.1  2.2  2.3  2.4  2.5
 species
 setosa         0    0    0    0    0    0    0    0
 versicolor     1    0    0    0    0    0    0    0
 virginica     11    5    6    6    3    8    3    3

 [3 rows x 22 columns]]

In [3]:
from seaborn import load_dataset
iris=sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [56]:
iris = sns.load_dataset('iris') # fancy색인은 copy가 일어나서 오류발생 아래 처럼 바꿔서 가공 필요
for i, sp in enumerate(iris.species.unique()):
    iris.species[iris.species == sp] = i
iris

<ipython-input-56-843647b3fe37>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris.species[iris.species == sp] = i

     sepal_length  sepal_width  petal_length  petal_width species
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [57]:
mapper = {v:i for i, v in enumerate(iris.species.unique())} #map함수를 이용해서 모두 바꿔줌
iris.species = iris.species.map(mapper)
iris

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [7]:
iris.species.unique()[1]

'versicolor'

In [6]:
iris[iris.species == iris.species.unique()[1]]['species'].values = np.array([1]*50)

AttributeError: can't set attribute

In [ ]:
for i in range(3):
    if iris[iris.species == iris.species.unique()[i]]:
        iris[iris.species == iris.species.unique()[i]]['species'] = i

In [18]:
a=pd.Series(np.array(np.arange(150))).to_frame()

In [24]:
pd.concat([iris,a], axis=1)
iris

     sepal_length  sepal_width  petal_length  petal_width    species   df
0             5.1          3.5           1.4          0.2     setosa    0
1             4.9          3.0           1.4          0.2     setosa    1
2             4.7          3.2           1.3          0.2     setosa    2
3             4.6          3.1           1.5          0.2     setosa    3
4             5.0          3.6           1.4          0.2     setosa    4
..            ...          ...           ...          ...        ...  ...
145           6.7          3.0           5.2          2.3  virginica  145
146           6.3          2.5           5.0          1.9  virginica  146
147           6.5          3.0           5.2          2.0  virginica  147
148           6.2          3.4           5.4          2.3  virginica  148
149           5.9          3.0           5.1          1.8  virginica  149

[150 rows x 6 columns]

In [33]:
b = iris.iloc[:10,:]
b.rename(columns={'sepal_width' : 'dfs'}, inplace=True)
b

C:\Users\ICT01_02\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   sepal_length  dfs  petal_length  petal_width species  df
0           5.1  3.5           1.4          0.2  setosa   0
1           4.9  3.0           1.4          0.2  setosa   1
2           4.7  3.2           1.3          0.2  setosa   2
3           4.6  3.1           1.5          0.2  setosa   3
4           5.0  3.6           1.4          0.2  setosa   4
5           5.4  3.9           1.7          0.4  setosa   5
6           4.6  3.4           1.4          0.3  setosa   6
7           5.0  3.4           1.5          0.2  setosa   7
8           4.4  2.9           1.4          0.2  setosa   8
9           4.9  3.1           1.5          0.1  setosa   9

In [47]:
a =pd.merge(iris,b, left_on='sepal_width', right_on='dfs')
a

,sepal_length_x,sepal_width_x,petal_length_x,petal_width_x,species_x,df_x,sepal_length_y,sepal_width_y,petal_length_y,petal_width_y,species_y,df_y,dfs
0,5.1,3.5,1.4,0.2,setosa,0,5.1,3.5,1.4,0.2,setosa,0,3.5
1,5.1,3.5,1.4,0.3,setosa,17,5.1,3.5,1.4,0.2,setosa,0,3.5
2,5.2,3.5,1.5,0.2,setosa,27,5.1,3.5,1.4,0.2,setosa,0,3.5
3,5.5,3.5,1.3,0.2,setosa,36,5.1,3.5,1.4,0.2,setosa,0,3.5
4,5.0,3.5,1.3,0.3,setosa,40,5.1,3.5,1.4,0.2,setosa,0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,6.0,2.9,4.5,1.5,versicolor,78,4.4,2.9,1.4,0.2,setosa,8,2.9
103,5.7,2.9,4.2,1.3,versicolor,96,4.4,2.9,1.4,0.2,setosa,8,2.9
104,6.2,2.9,4.3,1.3,versicolor,97,4.4,2.9,1.4,0.2,setosa,8,2.9
105,6.3,2.9,5.6,1.8,virginica,103,4.4,2.9,1.4,0.2,setosa,8,2.9
106,7.3,2.9,6.3,1.8,virginica,107,4.4,2.9,1.4,0.2,setosa,8,2.9