In [309]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [310]:
iris.columns[:-1]

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

In [311]:
iris = sns.load_dataset('iris')
tabs = []
for col in iris.columns[:-1]:
    temp = pd.crosstab(iris.species, iris[col])
    tabs.append(temp)

joined = pd.concat(tabs, axis=1)
joined

,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0,5.1,5.2,...,1.6,1.7,1.8,1.9,2.0,2.1,2.2,2.3,2.4,2.5
species,,,,,,,,,,,,,,,,,,,,,
setosa,1,3,1,4,2,5,4,8,8,3,...,0,0,0,0,0,0,0,0,0,0
versicolor,0,0,0,0,0,0,1,2,1,1,...,3,1,1,0,0,0,0,0,0,0
virginica,0,0,0,0,0,0,1,0,0,0,...,1,1,11,5,6,6,3,8,3,3

In [312]:
tabs

[sepal_length  4.3  4.4  4.5  4.6  4.7  4.8  4.9  5.0  5.1  5.2  ...  6.8  6.9  \
 species                                                         ...
 setosa          1    3    1    4    2    5    4    8    8    3  ...    0    0
 versicolor      0    0    0    0    0    0    1    2    1    1  ...    1    1
 virginica       0    0    0    0    0    0    1    0    0    0  ...    2    3

 sepal_length  7.0  7.1  7.2  7.3  7.4  7.6  7.7  7.9
 species
 setosa          0    0    0    0    0    0    0    0
 versicolor      1    0    0    0    0    0    0    0
 virginica       0    1    3    1    1    1    4    1

 [3 rows x 35 columns],
 sepal_width  2.0  2.2  2.3  2.4  2.5  2.6  2.7  2.8  2.9  3.0  ...  3.4  3.5  \
 species                                                        ...
 setosa         0    0    1    0    0    0    0    0    1    6  ...    9    6
 versicolor     1    2    3    3    4    3    5    6    7    8  ...    1    0
 virginica      0    1    0    0    4    2    4    8    2   12  ...    2    0

 sepal_width  3.6  3.7  3.8  3.9  4.0  4.1  4.2  4.4
 species
 setosa         3    3    4    2    1    1    1    1
 versicolor     0    0    0    0    0    0    0    0
 virginica      1    0    2    0    0    0    0    0

 [3 rows x 23 columns],
 petal_length  1.0  1.1  1.2  1.3  1.4  1.5  1.6  1.7  1.9  3.0  ...  5.7  5.8  \
 species                                                         ...
 setosa          1    1    2    7   13   13    7    4    2    0  ...    0    0
 versicolor      0    0    0    0    0    0    0    0    0    1  ...    0    0
 virginica       0    0    0    0    0    0    0    0    0    0  ...    3    3

 petal_length  5.9  6.0  6.1  6.3  6.4  6.6  6.7  6.9
 species
 setosa          0    0    0    0    0    0    0    0
 versicolor      0    0    0    0    0    0    0    0
 virginica       2    2    3    1    1    1    2    1

 [3 rows x 43 columns],
 petal_width  0.1  0.2  0.3  0.4  0.5  0.6  1.0  1.1  1.2  1.3  ...  1.6  1.7  \
 species                                                        ...
 setosa         5   29    7    7    1    1    0    0    0    0  ...    0    0
 versicolor     0    0    0    0    0    0    7    3    5   13  ...    3    1
 virginica      0    0    0    0    0    0    0    0    0    0  ...    1    1

 petal_width  1.8  1.9  2.0  2.1  2.2  2.3  2.4  2.5
 species
 setosa         0    0    0    0    0    0    0    0
 versicolor     1    0    0    0    0    0    0    0
 virginica     11    5    6    6    3    8    3    3

 [3 rows x 22 columns]]

In [313]:
from seaborn import load_dataset
iris=sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [314]:
iris = sns.load_dataset('iris') # fancy색인은 copy가 일어나서 오류발생 아래 처럼 바꿔서 가공 필요
for i, sp in enumerate(iris.species.unique()):
    iris.species[iris.species == sp] = i
iris

<ipython-input-314-843647b3fe37>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris.species[iris.species == sp] = i

     sepal_length  sepal_width  petal_length  petal_width species
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [315]:
mapper = {v:i for i, v in enumerate(iris.species.unique())} #map함수를 이용해서 모두 바꿔줌
iris.species = iris.species.map(mapper)
iris

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [316]:
iris.species.unique()[1]

1

In [317]:
iris[iris.species == iris.species.unique()[1]]['species'].values = np.array([1]*50)

AttributeError: can't set attribute

In [ ]:
for i in range(3):
    if iris[iris.species == iris.species.unique()[i]]:
        iris[iris.species == iris.species.unique()[i]]['species'] = i

In [ ]:
a=pd.Series(np.array(np.arange(150))).to_frame()

In [ ]:
pd.concat([iris,a], axis=1)
iris

     sepal_length  sepal_width  petal_length  petal_width    species   df
0             5.1          3.5           1.4          0.2     setosa    0
1             4.9          3.0           1.4          0.2     setosa    1
2             4.7          3.2           1.3          0.2     setosa    2
3             4.6          3.1           1.5          0.2     setosa    3
4             5.0          3.6           1.4          0.2     setosa    4
..            ...          ...           ...          ...        ...  ...
145           6.7          3.0           5.2          2.3  virginica  145
146           6.3          2.5           5.0          1.9  virginica  146
147           6.5          3.0           5.2          2.0  virginica  147
148           6.2          3.4           5.4          2.3  virginica  148
149           5.9          3.0           5.1          1.8  virginica  149

[150 rows x 6 columns]

In [ ]:
b = iris.iloc[:10,:]
b.rename(columns={'sepal_width' : 'dfs'}, inplace=True)
b

C:\Users\ICT01_02\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   sepal_length  dfs  petal_length  petal_width species  df
0           5.1  3.5           1.4          0.2  setosa   0
1           4.9  3.0           1.4          0.2  setosa   1
2           4.7  3.2           1.3          0.2  setosa   2
3           4.6  3.1           1.5          0.2  setosa   3
4           5.0  3.6           1.4          0.2  setosa   4
5           5.4  3.9           1.7          0.4  setosa   5
6           4.6  3.4           1.4          0.3  setosa   6
7           5.0  3.4           1.5          0.2  setosa   7
8           4.4  2.9           1.4          0.2  setosa   8
9           4.9  3.1           1.5          0.1  setosa   9

In [ ]:
a =pd.merge(iris,b, left_on='sepal_width', right_on='dfs')
a

,sepal_length_x,sepal_width_x,petal_length_x,petal_width_x,species_x,df_x,sepal_length_y,sepal_width_y,petal_length_y,petal_width_y,species_y,df_y,dfs
0,5.1,3.5,1.4,0.2,setosa,0,5.1,3.5,1.4,0.2,setosa,0,3.5
1,5.1,3.5,1.4,0.3,setosa,17,5.1,3.5,1.4,0.2,setosa,0,3.5
2,5.2,3.5,1.5,0.2,setosa,27,5.1,3.5,1.4,0.2,setosa,0,3.5
3,5.5,3.5,1.3,0.2,setosa,36,5.1,3.5,1.4,0.2,setosa,0,3.5
4,5.0,3.5,1.3,0.3,setosa,40,5.1,3.5,1.4,0.2,setosa,0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,6.0,2.9,4.5,1.5,versicolor,78,4.4,2.9,1.4,0.2,setosa,8,2.9
103,5.7,2.9,4.2,1.3,versicolor,96,4.4,2.9,1.4,0.2,setosa,8,2.9
104,6.2,2.9,4.3,1.3,versicolor,97,4.4,2.9,1.4,0.2,setosa,8,2.9
105,6.3,2.9,5.6,1.8,virginica,103,4.4,2.9,1.4,0.2,setosa,8,2.9
106,7.3,2.9,6.3,1.8,virginica,107,4.4,2.9,1.4,0.2,setosa,8,2.9

In [352]:

mapper = {v:i for i, v in enumerate(iris.species.unique())}
iris['s'] = iris.species.map(mapper)
iris

     sepal_length  sepal_width  petal_length  petal_width     species  s
0             5.1          3.5           1.4          0.2  virgicolor  0
1             4.9          3.0           1.4          0.2  virgicolor  0
2             4.7          3.2           1.3          0.2  virgicolor  0
3             4.6          3.1           1.5          0.2  virgicolor  0
4             5.0          3.6           1.4          0.2  virgicolor  0
..            ...          ...           ...          ...         ... ..
145           6.7          3.0           5.2          2.3  virgicolor  0
146           6.3          2.5           5.0          1.9  virgicolor  0
147           6.5          3.0           5.2          2.0  virgicolor  0
148           6.2          3.4           5.4          2.3  virgicolor  0
149           5.9          3.0           5.1          1.8  virgicolor  0

[150 rows x 6 columns]

In [351]:
iris

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2  virgicolor
1             4.9          3.0           1.4          0.2  virgicolor
2             4.7          3.2           1.3          0.2  virgicolor
3             4.6          3.1           1.5          0.2  virgicolor
4             5.0          3.6           1.4          0.2  virgicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3  virgicolor
146           6.3          2.5           5.0          1.9  virgicolor
147           6.5          3.0           5.2          2.0  virgicolor
148           6.2          3.4           5.4          2.3  virgicolor
149           5.9          3.0           5.1          1.8  virgicolor

[150 rows x 5 columns]

In [323]:
sname = ['setosa', 'verginica', 'vercicolor']
iris.species.map(lambda x: sname[x])

0          setosa
1          setosa
2          setosa
3          setosa
4          setosa
          ...
145    vercicolor
146    vercicolor
147    vercicolor
148    vercicolor
149    vercicolor
Name: species, Length: 150, dtype: object

In [ ]:
a=np.where(iris.species == 0,'setosa', np.NaN)
b=np.where(iris.species == 1,'verginica', np.NaN)
c=np.where(iris.species == 2,'vergicolor', np.NaN)
d=pd.Series(a).to_frame()
e=pd.Series(b).to_frame()
f=pd.Series(c).to_frame()

y=pd.concat([d,e], axis=1,ignore_index=True)
u=pd.concat([y,f], axis=1,ignore_index=True)
u

          0    1           2
0    setosa  nan         nan
1    setosa  nan         nan
2    setosa  nan         nan
3    setosa  nan         nan
4    setosa  nan         nan
..      ...  ...         ...
145     nan  nan  vergicolor
146     nan  nan  vergicolor
147     nan  nan  vergicolor
148     nan  nan  vergicolor
149     nan  nan  vergicolor

[150 rows x 3 columns]

In [325]:
u

          0    1           2
0    setosa  nan         nan
1    setosa  nan         nan
2    setosa  nan         nan
3    setosa  nan         nan
4    setosa  nan         nan
..      ...  ...         ...
145     NaN  nan  vergicolor
146     NaN  nan  vergicolor
147     NaN  nan  vergicolor
148     NaN  nan  vergicolor
149     NaN  nan  vergicolor

[150 rows x 3 columns]

In [326]:
u.reset_index()

     index       0    1           2
0        0  setosa  nan         nan
1        1  setosa  nan         nan
2        2  setosa  nan         nan
3        3  setosa  nan         nan
4        4  setosa  nan         nan
..     ...     ...  ...         ...
145    145     NaN  nan  vergicolor
146    146     NaN  nan  vergicolor
147    147     NaN  nan  vergicolor
148    148     NaN  nan  vergicolor
149    149     NaN  nan  vergicolor

[150 rows x 4 columns]

In [338]:
pd.concat([u,u], axis=1)

          0    1           2       0    1           2
0    setosa  nan         nan  setosa  nan         nan
1    setosa  nan         nan  setosa  nan         nan
2    setosa  nan         nan  setosa  nan         nan
3    setosa  nan         nan  setosa  nan         nan
4    setosa  nan         nan  setosa  nan         nan
..      ...  ...         ...     ...  ...         ...
145     NaN  nan  vergicolor     NaN  nan  vergicolor
146     NaN  nan  vergicolor     NaN  nan  vergicolor
147     NaN  nan  vergicolor     NaN  nan  vergicolor
148     NaN  nan  vergicolor     NaN  nan  vergicolor
149     NaN  nan  vergicolor     NaN  nan  vergicolor

[150 rows x 6 columns]

In [331]:
u.index

RangeIndex(start=0, stop=150, step=1)

In [342]:
a =pd.merge(u,u,how='inner',right_index=True, left_index=True)
a

        0_x  1_x         2_x     0_y  1_y         2_y
0    setosa  nan         nan  setosa  nan         nan
1    setosa  nan         nan  setosa  nan         nan
2    setosa  nan         nan  setosa  nan         nan
3    setosa  nan         nan  setosa  nan         nan
4    setosa  nan         nan  setosa  nan         nan
..      ...  ...         ...     ...  ...         ...
145     NaN  nan  vergicolor     NaN  nan  vergicolor
146     NaN  nan  vergicolor     NaN  nan  vergicolor
147     NaN  nan  vergicolor     NaN  nan  vergicolor
148     NaN  nan  vergicolor     NaN  nan  vergicolor
149     NaN  nan  vergicolor     NaN  nan  vergicolor

[150 rows x 6 columns]

In [343]:
b =pd.merge(u,u,how='outer',right_index=True, left_index=True)
b

        0_x  1_x         2_x     0_y  1_y         2_y
0    setosa  nan         nan  setosa  nan         nan
1    setosa  nan         nan  setosa  nan         nan
2    setosa  nan         nan  setosa  nan         nan
3    setosa  nan         nan  setosa  nan         nan
4    setosa  nan         nan  setosa  nan         nan
..      ...  ...         ...     ...  ...         ...
145     NaN  nan  vergicolor     NaN  nan  vergicolor
146     NaN  nan  vergicolor     NaN  nan  vergicolor
147     NaN  nan  vergicolor     NaN  nan  vergicolor
148     NaN  nan  vergicolor     NaN  nan  vergicolor
149     NaN  nan  vergicolor     NaN  nan  vergicolor

[150 rows x 6 columns]

In [318]:
missing = a[50]

In [321]:
np.where(a != missing, a, np.where(b != missing, b, c))

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor'], dtype='<U32')

In [ ]:
print(u[0][51])

nan

In [277]:
type(a)

numpy.ndarray

In [271]:
np.NaN == np.NaN

False

In [254]:
u[1][48:52]

48          nan
49          nan
50    verginica
51    verginica
Name: 1, dtype: object

In [249]:
np.where(iris.species == 0, 'setosa', np.where(
    iris.species == 1, 'verginica', 'vergicolor'
))

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'verginica', 'verginica', 'verginica',
       'verginica', 'verginica', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor', 'vergicolor',
       'vergicolor', 'vergicolor', 'vergicolor'], dtype='<U10')

In [248]:
d

          0
0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
..      ...
145     nan
146     nan
147     nan
148     nan
149     nan

[150 rows x 1 columns]

In [239]:
df1=pd.DataFrame(a, columns=['df'])
df2=pd.DataFrame(b, columns=['df'])
df3=pd.DataFrame(c, columns=['df'])
a=df1+df2+df3

In [241]:
a.df = a.apply(lambda x : x.replace('nannan',''))

In [247]:
b=a.df.str.replace('nannan','')
b.to_frame()

             df
0        setosa
1        setosa
2        setosa
3        setosa
4        setosa
..          ...
145  vergicolor
146  vergicolor
147  vergicolor
148  vergicolor
149  vergicolor

[150 rows x 1 columns]

In [350]:
iris

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2  virgicolor
1             4.9          3.0           1.4          0.2  virgicolor
2             4.7          3.2           1.3          0.2  virgicolor
3             4.6          3.1           1.5          0.2  virgicolor
4             5.0          3.6           1.4          0.2  virgicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3  virgicolor
146           6.3          2.5           5.0          1.9  virgicolor
147           6.5          3.0           5.2          2.0  virgicolor
148           6.2          3.4           5.4          2.3  virgicolor
149           5.9          3.0           5.1          1.8  virgicolor

[150 rows x 5 columns]

In [356]:
iris = sns.load_dataset('iris')

In [360]:
mapper = {v:i for i,v in enumerate(iris.species.unique())}
iris.species = iris.species.map(mapper)

In [361]:
iris

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [364]:
a =np.where(iris.species ==0 ,'setosa',np.where(iris.species == 1, 'virginica','virgicolor'))
a

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor', 'virgicolor',
       'virgicolor', 'virgicolor', 'virgicolor'], dtype='<U10')

In [365]:
iris['s'] = a

In [366]:
iris

     sepal_length  sepal_width  petal_length  petal_width  species           s
0             5.1          3.5           1.4          0.2        0      setosa
1             4.9          3.0           1.4          0.2        0      setosa
2             4.7          3.2           1.3          0.2        0      setosa
3             4.6          3.1           1.5          0.2        0      setosa
4             5.0          3.6           1.4          0.2        0      setosa
..            ...          ...           ...          ...      ...         ...
145           6.7          3.0           5.2          2.3        2  virgicolor
146           6.3          2.5           5.0          1.9        2  virgicolor
147           6.5          3.0           5.2          2.0        2  virgicolor
148           6.2          3.4           5.4          2.3        2  virgicolor
149           5.9          3.0           5.1          1.8        2  virgicolor

[150 rows x 6 columns]